@import url("./../fonts/fira-zilla.css");
@import url("./../fonts/cabin.css");
@import url("./../fonts/eb-garamond.css");
@import url("./../fonts/josefin.css");
@import url("./../fonts/lobster.css");

body {
	font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Zilla Slab", Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
}

    h1 small,
    h2 small,
    h3 small,
    h4 small,
    h5 small,
    h6 small {
        font-family: 'Josefin Slab', Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
    }

.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
    font-weight:bold;
}

    .alert h1 small,
    .alert h2 small,
    .alert h3 small,
    .alert h4 small,
    .alert h5 small,
    .alert h6 small {
        font-weight: bold;
    }

code,
pre {
	font-family: "Fira Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}


input,
button,
select,
textarea {
	font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-search .search-query {
	font-family: 'Cabin', Verdana, sans-serif;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
}

.navbar {
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

legend {
	font-family: 'EB Garamond', cursive;
}

blockquote {
    font-family: 'EB Garamond', Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
}

    blockquote small {
        font-family: 'Josefin Slab', Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
    }

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
    font-family: "EB Garamond", Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
}