@font-face {
    font-family: 'Fira Sans';
    src: url("./fira-sans/FiraSans-Light.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Light'), url("./fira-sans/FiraSans-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans/FiraSans-Light.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans/FiraSans-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans/FiraSans-Light.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans/FiraSans-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url("./fira-sans/FiraSans-LightItalic.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Light Italic'), url("./fira-sans/FiraSans-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans/FiraSans-LightItalic.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans/FiraSans-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans/FiraSans-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans/FiraSans-LightItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Fira Sans";
    src: url("./fira-sans/FiraSans-Regular.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Regular'), url("./fira-sans/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans/FiraSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans/FiraSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans/FiraSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans/FiraSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("./fira-sans/FiraSans-Italic.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Regular Italic'), url("./fira-sans/FiraSans-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans/FiraSans-Italic.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans/FiraSans-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans/FiraSans-Italic.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans/FiraSans-Italic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fira-sans/FiraSans-Medium.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Medium'), url("./fira-sans/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans/FiraSans-Medium.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans/FiraSans-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans/FiraSans-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans/FiraSans-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('./fira-sans/FiraSans-MediumItalic.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Medium Italic'), url("./fira-sans/FiraSans-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans/FiraSans-MediumItalic.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans/FiraSans-MediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans/FiraSans-MediumItalic.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans/FiraSans-MediumItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Fira Sans";
    src: url("./fira-sans/FiraSans-Bold.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Bold'), url("./fira-sans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans/FiraSans-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans/FiraSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans/FiraSans-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans/FiraSans-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("./fira-sans/FiraSans-BoldItalic.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Bold Italic'), url("./fira-sans/FiraSans-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans/FiraSans-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans/FiraSans-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans/FiraSans-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans/FiraSans-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Fira Sans Condensed";
    src: url("./fira-sans-condensed/FiraSansCondensed-Regular.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed Regular'), url("./fira-sans-condensed/FiraSansCondensed-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans-condensed/FiraSansCondensed-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans-condensed/FiraSansCondensed-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans-condensed/FiraSansCondensed-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans-condensed/FiraSansCondensed-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans Condensed";
    src: url("./fira-sans-condensed/FiraSansCondensed-Bold.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed Bold'), url("./fira-sans-condensed/FiraSansCondensed-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans-condensed/FiraSansCondensed-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans-condensed/FiraSansCondensed-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans-condensed/FiraSansCondensed-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans-condensed/FiraSansCondensed-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans Condensed";
    src: url("./fira-sans-condensed/FiraSansCondensed-Italic.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed Regular Italic'), url("./fira-sans-condensed/FiraSansCondensed-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans-condensed/FiraSansCondensed-Italic.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans-condensed/FiraSansCondensed-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans-condensed/FiraSansCondensed-Italic.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans-condensed/FiraSansCondensed-Italic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Fira Sans Condensed";
    src: url("./fira-sans-condensed/FiraSansCondensed-BoldItalic.eot"); /* IE9 Compat Modes */
    src: local('Fira Sans Condensed Bold Italic'), url("./fira-sans-condensed/FiraSansCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-sans-condensed/FiraSansCondensed-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fira-sans-condensed/FiraSansCondensed-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-sans-condensed/FiraSansCondensed-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fira-sans-condensed/FiraSansCondensed-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Fira Mono";
    src: url("./fira-mono/FiraMono-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fira-mono/FiraMono-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-mono/FiraMono-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fira-mono/FiraMono-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-mono/FiraMono-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fira-mono/FiraMono-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Mono";
    src: url("./fira-mono/FiraMono-Bold.eot"); /* IE9 Compat Modes */
    src: url("./fira-mono/FiraMono-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fira-mono/FiraMono-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fira-mono/FiraMono-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fira-mono/FiraMono-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fira-mono/FiraMono-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Zilla Slab";
    src: url("./zilla-slab/ZillaSlab-Regular.eot"); /* IE9 Compat Modes */
    src: url("./zilla-slab/ZillaSlab-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./zilla-slab/ZillaSlab-Regular.otf") format("opentype"), /* Open Type Font */
    url("./zilla-slab/ZillaSlab-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./zilla-slab/ZillaSlab-Regular.woff") format("woff"), /* Modern Browsers */
    url("./zilla-slab/ZillaSlab-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./zilla-slab/ZillaSlab-Bold.eot"); /* IE9 Compat Modes */
    src: url("./zilla-slab/ZillaSlab-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./zilla-slab/ZillaSlab-Bold.otf") format("opentype"), /* Open Type Font */
    url("./zilla-slab/ZillaSlab-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./zilla-slab/ZillaSlab-Bold.woff") format("woff"), /* Modern Browsers */
    url("./zilla-slab/ZillaSlab-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./zilla-slab/ZillaSlab-RegularItalic.eot"); /* IE9 Compat Modes */
    src: url("./zilla-slab/ZillaSlab-RegularItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./zilla-slab/ZillaSlab-RegularItalic.otf") format("opentype"), /* Open Type Font */
    url("./zilla-slab/ZillaSlab-RegularItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./zilla-slab/ZillaSlab-RegularItalic.woff") format("woff"), /* Modern Browsers */
    url("./zilla-slab/ZillaSlab-RegularItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./zilla-slab/ZillaSlab-BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("./zilla-slab/ZillaSlab-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./zilla-slab/ZillaSlab-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./zilla-slab/ZillaSlab-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./zilla-slab/ZillaSlab-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./zilla-slab/ZillaSlab-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: italic;
}

.font-fira-sans {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-fira-sans-condensed {
    font-family: "Fira Sans Condensed", "Helvetica Neue", Helvetica, "Arial Narrow", sans-serif;
}

.font-zilla-slab {
    font-family: "Zilla Slab", Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
}

.font-fira-mono {
    font-family: "Fira Mono", Menlo, Monaco, Consolas, "Courier New", Courier, "Lucida Console", monospace;
}
