@font-face {
    font-family: 'Selawik';
    font-weight: 100;
    font-style: normal;
    src: local('Selawik');
	src: url('./selawik/selawkl.eot'); /* IE9 Compat Modes */
	src: url('./selawik/selawkl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./selawik/selawkl.woff') format('woff'), /* Modern Browsers */
		 url('./selawik/selawkl.woff2') format('woff2'), /* Modern Browsers */
		 url('./selawik/selawkl.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('./selawik/selawkl.svg#Selawik') format('svg');
}
@font-face {
    font-family: 'Selawik';
    font-style: normal;
    font-weight: 300;    
	src: local('Selawik');
	src: url('./selawik/selawksl.eot'); /* IE9 Compat Modes */
	src: url('./selawik/selawksl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./selawik/selawksl.woff') format('woff'), /* Modern Browsers */
		 url('./selawik/selawksl.woff2') format('woff2'), /* Modern Browsers */
		 url('./selawik/selawksl.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('./selawik/selawksl.svg#Selawik') format('svg');
}
@font-face {
    font-family: 'Selawik';
    font-style: normal;
    font-weight: 400;
    src: local('Selawik');
	src: url('./selawik/selawk.eot'); /* IE9 Compat Modes */
	src: url('./selawik/selawk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./selawik/selawk.woff') format('woff'), /* Modern Browsers */
		 url('./selawik/selawk.woff2') format('woff2'), /* Modern Browsers */
		 url('./selawik/selawk.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('./selawik/selawk.svg#Selawik') format('svg');
}
@font-face {
    font-family: 'Selawik';
    font-style: normal;
    font-weight: 600;
	src: local('Selawik');
	src: url('./selawik/selawksb.eot'); /* IE9 Compat Modes */
	src: url('./selawik/selawksb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./selawik/selawksb.woff') format('woff'), /* Modern Browsers */
		 url('./selawik/selawksb.woff2') format('woff2'), /* Modern Browsers */
		 url('./selawik/selawksb.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('./selawik/selawksb.svg#Selawik') format('svg');
}
@font-face {
    font-family: 'Selawik';
    font-style: normal;
    font-weight: 700;
	src: local('Selawik');
	src: url('./selawik/selawkb.eot'); /* IE9 Compat Modes */
	src: url('./selawik/selawkb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./selawik/selawkb.woff') format('woff'), /* Modern Browsers */
		 url('./selawik/selawkb.woff2') format('woff2'), /* Modern Browsers */
		 url('./selawik/selawkb.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('./selawik/selawkb.svg#Selawik') format('svg');
}

.font-selawik {
    font-family: "Selawik", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
